@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=PT+Mono&display=swap");

/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

/* CSS variables */
:root {
  --primary-color: #fcee0a;
  --secondary-color: #00f0ff;
  --black-color: #070a0d;
  --white-color: #fff;
  /* title font */
  /* para font */
  --primary-font: "PT Mono", monospace;
  /* heading font */
  --secondary-font: "Audiowide", sans-serif;
  /* have to be changed */
  --size: 16px;

  /* Card color */
  --card-color: rgb(23, 23, 23);

  /* Event cards */
  --card-height: 600px;
  --card-width: calc(var(--card-height) / 1.5);
}

/* Utility classes  */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* gap: 10px; */
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 12px 26px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* General styles */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--black-color);
  font-family: var(--primary-font);
  color: var(--white-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  padding-block: 0 1rem;
}

/* About styles */
.about {
  /* height: 90vh; */
  margin: 3rem 0 2rem;
  position: relative;
  /* to make about bg black */
  /* background-color: black; */
}
/* For particles canvas */
.particles-js-canvas-el {
  max-width: 100vw;
  height: auto;
  position: absolute;
  /* don't set higher than 100 -> else it makes the fixed navbar & scrollup unclickable  */
  /* z-index: 0; */
  /* this makes canvas to not to respond with cursor -> can't interact with particles elements
  this makes users to interact with other elements */
  /* pointer-events: none; */
}

.cards:hover > .card::after {
  opacity: 1;
}

.card {
  /* have to change - height */
  height: 90vh;
  /* min-height: auto; */
  width: 85vw;
  max-width: 1100px;
  margin: 0 auto 1.8rem;
  /* glass effect */
  /* background: rgba(168, 161, 161, 0.126); */
  background-color: black;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(157, 153, 153, 0.08);
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0px 9px 20px 0px rgba(252, 240, 10, 0.5),
    0px -9px 20px 0px rgba(252, 238, 10, 0.5);
}
.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(192, 210, 75, 0.135),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    var(--primary-color),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: rgb(23, 23, 23);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;

  position: absolute;
  z-index: 2;
  padding: 0 30px;
}

.card-content p {
  font-size: 1.1rem;
  line-height: 1.3;
  text-indent: 2rem;
  text-align: center;
}

.card-img img {
  display: block;
  margin-inline: auto;
  width: 60%;
  max-width: 400px;
}

/* Events styles */
.events {
  min-height: auto;
}

/* Schedule Styles */
.schedule {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.schedule-heading {
  color: var(--black-color);
  font-size: 2rem;
  padding-block: 2rem;
}

/* Team & Sponsor styles */
.team-sponsors {
  min-height: 100vh;
}

.team-sponsors .grid {
  gap: 20px;
}

.team-sponsors h3 {
  padding-top: 3rem;
  font-size: 2rem;
}

.sponsor {
  grid-column: 3/7;
  height: 230px;
  width: 230px;
  background-color: rgba(70, 65, 65, 0.182);
  /* margin-block: 1rem; */
  text-align: center;
  font-size: 5rem;
  margin-inline: auto;
}

/* .team {
  padding-inline: 3rem;
}

.member-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.member-role {
  font-size: 1.3rem;
  font-weight: 400;
}

.swiper {
  width: 100%;
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 350px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide p {
  text-align: center;
} */

/* Footer styles */
.footer {
  min-height: 500px;
  background-color: var(--primary-color);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    min-height: 40vh;
  }
  .card > .card-content {
    padding: 0 2rem;
  }

  .sponsor:nth-child(odd) {
    grid-column: 2/5;
  }
  .sponsor:nth-child(even) {
    grid-column: 5/8;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }

  .card {
    height: auto;
    min-height: 60vh;
  }
  .card > .card-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
  }

  /* department para */
  .card-content p {
    text-align: left;
    padding-right: 2rem;
  }

  .card-img {
    width: 40%;
  }
  .card-text {
    width: 60%;
  }
  #sympo-img {
    order: 2;
  }
  /* sympo para */
  #sympo-text p {
    padding-left: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* to hide navbar - when user is in events section */
/* Add this class to hide the menu */
.menu-hidden {
  display: none;
}
